<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    {% load static %}
    <link rel="stylesheet" href="{% static 'article_scoring/index.css' %}">
</head>
<body>
    <div class="container">
        <br><br>
        <h1>Article Scoring</h1>
        <br>
        <div class="row">
            Add a category below and the Wikipedia articles in that catefory will be presented. <br>
            The articles have a score for readability, and are sorted from least readable to most readable (Yes, counter-intuitive but true... :P)
        </div>
        <br>
        <div class="row">
            <form class="js-article-sorting_category-form form-group col-sm-6">
                <input id="category" class="js-article-sorting_category-input form-control" type="text" name="category" placeholder="Category">
                <div>
                    <small class="article-sorting_error-text js-article-sorting_error-text text-danger"></small>
                </div>
                <br>
                <input type="submit" class="js-article-sorting_category-form-submit btn btn-primary" value="Get articles in category">
            </form>
        </div>
        <br>
        <div class="row js-article-sorting_article-results" hidden>
            <div>
                Here are the Wikipedia articles in the chosen category: <br>
                (Click on the row to get the text extract)
            </div>
            <br><br><br>
            <table class="table">
                  <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Readability Score</th>
                        </tr>
                  </thead>
                  <tbody class="js-article-sorting_article-table-body"></tbody>
            </table>
        </div>
    </div>
    <!-- Load the JS libraries and JS index file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'article_scoring/index.js' %}"></script>
</body>
</html>